---
layout: markdown_page
title: "Product Vision - Plan"
---

- TOC
{:toc}

## Overview 

- [Timeline-based roadmap view of upcoming planned improvements](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3Aplan&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS)
- [Upcoming planned strategic direction improvements](https://gitlab.com/groups/gitlab-org/-/boards/706864?label_name[]=direction) 
and [upcoming planned improvements in detail](https://gitlab.com/groups/gitlab-org/-/boards/706864)
for the next few milestones (monthly releases)

The [GitLab DevOps lifecycle](/direction/#devops-stages) contains the Plan stage.
The product vision of Plan is to enable all people in any size organization to:

- **Innovate** ideas.
- Organize those ideas into transparent, **multi-level work breakdown plans** that cut
across departments.
- **Track the execution** of these plans, adjusting them along the way as needed.
- **Collaborate** with team members, internal and external stakeholders, and executive
sponsors, using the same set of single-source-of-truth artifacts in a single application.
- **Measure** the efficacy of the entire process, characterizing the flows with 
**value streams**, thus providing actionable insight for continuous improvement.

See interesting features coming in 2019, as of late December 2018.

<figure class="video_container">
<iframe src="https://www.youtube.com/embed/qC9H-BChiwQ" frameborder="0" allowfullscreen="true" width="640" height="360"> </iframe>
</figure>

<%= partial("direction/categories", :locals => { :stageKey => "plan" }) %>

## Additional areas

Plan is also concerned with the following areas.

### Governed workflows

Large enterprises, especially those in highly-regulated industries such as finance
and healthcare, rely on governance frameworks in their planning and execution, in
order to mitigate a variety of business risks.

GitLab will be improved with [customized workflows integrated into boards](https://gitlab.com/groups/gitlab-org/-/epics/424), 
supporting the specific governed workflow stages in a particular organization. Also,
GitLab will have [custom fields](https://gitlab.com/groups/gitlab-org/-/epics/235), 
enabling the level of oversight and standardization required in the given large company.

See [upcoming planned improvements for governed workflows](https://gitlab.com/groups/gitlab-org/-/epics?label_name[]=governance).

### Search

Teams leverage GitLab search to quickly search for relevant content, enabling
stronger intra-team and cross-team collaboration through discovery of all GitLab
data.

See [upcoming planned improvements for search](https://gitlab.com/groups/gitlab-org/-/epics?label_name[]=search).

### Jira integration

GitLab supports deep Jira integration, allowing teams to use Jira for issue
mangement, but still leveraging the benefits of GitLab source control and other
native GitLab features.

See [upcoming planned improvements for Jira integration](https://gitlab.com/groups/gitlab-org/-/epics?label_name[]=Jira).

## Metrics

These Looker dashboards are available to GitLab team members only. [Get access to Looker](https://gitlab.com/gitlab-com/access-requests/issues/new?issuable_template=New%20Access%20Request). 

- [Plan: Counts of instances of instances using features](https://gitlab.looker.com/dashboards/41)
- [Plan: Total object counts](https://gitlab.looker.com/dashboards/63)

## How we prioritize

We follow the [general prioritization process](/handbook/product/#prioritization)
of the Product Team. In particular, we consider reach, impact, confidence, and
effort to identify and plan changes in upcoming milestones (monthly iterations).

- See a high-level [timeline-based roadmap view of planned upcoming improvements](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=Plan&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).
- See [upcoming planned strategic direction improvements](https://gitlab.com/groups/gitlab-org/-/boards/706864?label_name[]=direction) 
and [upcoming planned improvements in detail](https://gitlab.com/groups/gitlab-org/-/boards/706864)
for the next few milestones (monthly releases).

## Contributions and feedback

We love community code contributions to GitLab. Read
[this guide](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/development/contributing/index.md)
to get started.

Please also participate in our [issue tracker](https://gitlab.com/gitlab-org/gitlab-ce).
You can file bugs, propose new features, suggest design improvements, or
continue a conversation on any one of these. Simply [open a new issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/new)
or comment on [an existing one](https://gitlab.com/gitlab-org/gitlab-ce/issues).

You can also contact me (Victor) via the channels on [my profile page](https://gitlab.com/victorwu).

## Direction

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "plan" }) %>
