---
title: Sensitive Data Remediation
suppress_header: true
description: "Git Sensitive Data Remediation service from GitLab"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Sensitive Data Remediation
    %h2.headline-subtitle
      Bring peace of mind to your team by ensuring you eliminate any sensitive data from your repositories and prevent commits going forward.

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          We've seen multiple companies - even technology first companies - make mistakes when it comes to sensitive data and secret leaks into the wild. This engagement will provide audit and cleanup of sensitive information currently in the customer’s Git repositories.  Sensitive data can include secrets, passwords, private keys, API tokens, and other sensitive data.
        %p.service-para
          Our team will both produce in-our-lab prototypes as well as hands-on tuning of the secrets detection using your actual git data.  Not only will we detect sensitive data, we will provide reports on which keys were potentially compromised and re-write history to eliminate all trace of any sensitive data.
        %p.service-para
          Going forward, we will work with your team to develop the automation of sensitive data checking for all future code commits.  Your team will also receive training and documentation of the sensitive data checking implementation to enable them to keep it up to date for any new threats.

        %h2 Who is this service for?
        %p.service-para
          Security and audit teams looking to build assurance that developers are not committing sensitive data such as passwords and keys to their git repositories.

        %h1 What's included?
        %p GitLab offers a variety of training courses depending on your team's needs.  In addition, we offer specialized training that can be customized even further.
        %p The general courses we offer include:
        %ul
          %li Audit all current Gitlab repositories for sensitive data.
          %li Find and rewrite commit history for affected repositories.
          %li Build report on the location and source of the sensitive data found.
          %li Create re-usable GitLab hooks for flagging sensitive data before it can be saved to GitLab.



.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
