---
layout: markdown_page
title: "Frontend Configure Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Configure team works on the frontend part of GitLab for the [Configure stage].

For more details about the vision for this area of the product, see the [Configure
stage] page.

[Configure stage]: /stages-devops-lifecycle/configure/

### Team members

<%= direct_team(role_regexp: /[,&] Configure/, manager_role: 'Frontend Engineering Manager, Configure & Secure') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Configure/, direct_manager_role: 'Frontend Engineering Manager, Configure & Secure') %>

## Useful links

* [Configure frontend board] - this shows work in the current release based on assignees
* [#g_configure] in Slack

[Configure frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/815198

[#g_configure]: https://gitlab.slack.com/archives/g_configure
