---
layout: default
title: Reseller Enablement - Customer Case Studies
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Partner Sales Enablement Session   
        %h2.page-subtitle Customer case studies: Hear how three customers leverage GitLab to gain a competitive advantage

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 On-Demand
            %p Join us to learn how three unique GitLab customers leverage GitLab's capabilities to streamline and improve operations, while speeding time to market. From mobile ticket sales to managing enterprise software releases, GitLab's use case examples showcase the power of GitLab.
            %p Hear how Ticketmaster, a ticket sales and distribution company solved their challenge to offer mobile customers frequent updates for upcoming events and ticket availability. From a 2-hour process using Jenkins to an impressive 8-minute build testing and release process -Ticketmaster found that by using GitLab they can offer their customers fast real time mobile updates. The end result is a much improved customer experience with increased ticket sales.
            %p Axway, a global Enterprise software company specializing in analytics, API management and mobile app development needed to connect globally distributed R&D teams to implement DevOps. Leveraging a Git-based workflow , Axways worldwide R&D team can now easily manage access and grant permissions for over 600 enterprise developers.
            %p Learn how Paessler AG, an IT Network Monitoring company moved from Jenkins to GitLab to address disparate R&D teams and speed up their time to monitor their customer environments. , Using GitLab, Passeler has been able to ramps their release schedule to 4x more releases.
            
          .content-section
            %h3 In this webcast, we cover:
            %ul
              %li Three unique challenges that software development teams had to address to improve and streamline operations, while speeding products to market
              %li Gitlab’s value proposition across the entire software development lifecycle
              %li ROI metrics as a direct result of implementing GitLab
              
        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1644
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1644, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p You will receive an email with additional details.